!!! 5
html(manifest='cache.manifest')
  head
    title='CCCHH'
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    
    link(rel='stylesheet', href='css/jquery-mobile.css')
    
    script(src='javascripts/lib/jquery.js')
    script(src='javascripts/lib/jquery.mobile-1.0.min.js')
    
    
    script(src='javascripts/lib/hogan.js')
    link(rel='stylesheet', href='css/main.css')
    script(src='javascripts/App.js')

    
  body!= body